@import '~bootstrap/scss/bootstrap';

body {
  background-color: #acb6ff;
}

.btn-primary {
  background-color: #ffa251;
  border: 2px solid black;
  border-radius: 5px;
}

.alert-success {
  display: none;
  border: 1px solid black;
  margin: 0 250px 0 25px;
  align: justify;
  text-align: center;
  max-width: 325px;
  min-width: 200px;
}
.alert-danger {
  display: none;
  border: 1px solid black;
  margin: 0 250px 0 25px;
  align: justify;
  text-align: center;
  max-width: 325px;
  min-width: 200px;
}
.alert-info {
  display: none;
  border: 1px solid black;
  margin: 0 250px 0 25px;
  align: justify;
  text-align: center;
  max-width: 325px;
  min-width: 200px;
}

.authenticated {
  display: none;
}
