@import '~bootstrap/scss/bootstrap';

body {
  background-color: #acb6ff;
}

.btn-primary {
  background-color: #ffa251;
  border: 2px solid black;
  border-radius: 5px;
}

.success {
  display: inline-flex;
  color: white;
  border: 1px solid black;
  background-color: #88ff70;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.failure {
  display: inline-flex;
  color: white;
  border: 1px solid black;
  background-color: #ff7088;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

#authenticated {
  display: none;
}
