@import '~bootstrap/scss/bootstrap';

body {
  background-color: lightgray;
}

.btn-primary {
  background-color: darkgray;
  border: 2px solid black;
  border-radius: 5px;
}

.alert-success, .alert-danger, .alert-info {
  display: none;
  border: 1px solid black;
  margin: 0 250px 0 25px;
  align: justify;
  text-align: center;
  max-width: 325px;
  min-width: 200px;
}

.authenticated {
  display: none;
}

.unauth-navbar-btn, #navbarDropdown {
  color: white;
    &:hover {
      color: darkgray;
    }
}
.auth-nav-drop-btn {
  color: black;
    &:hover {
      background: lightgray
    }
}
